:root{
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
}

body{
  font-family: 'Oswald', sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title{
  font-family: 'Oswald', sans-serif;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
}
.text-blue{
  color: var(--mainBlue);
}
.text-bright{
  color: var(--lightBlue);
}
.button-container {
 text-transform: capitalize;
 font-size: 18px;
 background: transparent;
 border: 1px solid var(--lightBlue);
 padding : 5px;
 cursor: pointer;
 transition: all 0.5s ease-in-out;
 color: var(--mainWhite) !important; ;
 
}
.button-container-back {
  text-transform: capitalize;
  font-size: 18px;
  background: transparent;
  border: 1px solid var(--lightBlue);
  padding : 5px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  color: var(--lightBlue) !important; 
  margin-right: 40px;  
 }
.button-container :hover{
  background: var(--lightBlue);
  color: var(--mainBlue);
}
nav{
  background: var(--mainBlue);
}
.nav-link{
  color: var(--mainWhite) !important;
  font-size: 20px;

}
.img-container{
position: relative;
overflow: hidden;
}
.productWrapper .card {
  border-color: transparent;
  transition: all 1s linear; 
}
.productWrapper .card-footer{
  border-color: transparent;
  border-top: transparent;
  transition: all 1s linear; 
  font-size: 20px;
}
.cart-btn{
  background: var(--lightBlue);
  border: none;
  color: var(--mainWhite);
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  right:0;
  padding: 0.2rem o.4rem;
}
 
.compare-btn{
  background: var(--lightBlue);
  border: none;
  color: var(--mainWhite);
  font-size: 1.4rem;
  position: absolute;
  bottom: 0;
  left:0;
  padding: 0.2rem o.4rem;
 
}
.modalContainer{
  position:fixed;
  top:0;
  left: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.3);
  display: flex;
  align-items: center;
  justify-content: center;
}
#modal{
  background: var(--mainWhite);
}

.cart-heading{
  font-size: 15px;
}